<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22546500112-ihkbovo9hm42l21kmre78rjqra12ouep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22546500112-ihkbovo9hm42l21kmre78rjqra12ouep</string>
	<key>API_KEY</key>
	<string>AIzaSyAqT9kVI1Q1JuZihgnPUv4HlSTEsNkD7Zc</string>
	<key>GCM_SENDER_ID</key>
	<string>22546500112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meks.deploymentPipelineReact</string>
	<key>PROJECT_ID</key>
	<string>pc-api-7160361455955882320-27</string>
	<key>STORAGE_BUCKET</key>
	<string>pc-api-7160361455955882320-27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22546500112:ios:9d2c7061d8431cbddb9895</string>
</dict>
</plist>